body{
    margin: 0;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
}

.navigation{
    height: 50px;
}

.nav-right{
    width: 40%;
    overflow: hidden;
    float: right;
    padding-top: 10px;
}

.nav-right a{
    text-decoration: none;
    float: left;
    padding: 0 20px;
    color: #000;
    font-size: 18px;
}
